VAK019/Web References/ServidorDiretorios/ServidorDiretorios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="criarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="criarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="criarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="excluirUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarSenhaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarSenhaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlterarSenhaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="criarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:criarUsuario" />
  </wsdl:message>
  <wsdl:message name="criarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:criarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="excluirUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:excluirUsuario" />
  </wsdl:message>
  <wsdl:message name="excluirUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:excluirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarSenhaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarSenhaUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarSenhaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarSenhaUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServidorDiretoriosSoap">
    <wsdl:operation name="criarUsuario">
      <wsdl:input message="tns:criarUsuarioSoapIn" />
      <wsdl:output message="tns:criarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluirUsuario">
      <wsdl:input message="tns:excluirUsuarioSoapIn" />
      <wsdl:output message="tns:excluirUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarSenhaUsuario">
      <wsdl:input message="tns:AlterarSenhaUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarSenhaUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServidorDiretoriosSoap" type="tns:ServidorDiretoriosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="criarUsuario">
      <soap:operation soapAction="http://tempuri.org/criarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirUsuario">
      <soap:operation soapAction="http://tempuri.org/excluirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSenhaUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarSenhaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServidorDiretoriosSoap12" type="tns:ServidorDiretoriosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="criarUsuario">
      <soap12:operation soapAction="http://tempuri.org/criarUsuario" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirUsuario">
      <soap12:operation soapAction="http://tempuri.org/excluirUsuario" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSenhaUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarSenhaUsuario" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServidorDiretorios">
    <wsdl:port name="ServidorDiretoriosSoap" binding="tns:ServidorDiretoriosSoap">
      <soap:address location="http://framework2008prd.martins.com.br/Vendas.ServidorDiretorios/ServidorDiretorios.asmx" />
    </wsdl:port>
    <wsdl:port name="ServidorDiretoriosSoap12" binding="tns:ServidorDiretoriosSoap12">
      <soap12:address location="http://framework2008prd.martins.com.br/Vendas.ServidorDiretorios/ServidorDiretorios.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>