VAK019/Web References/Email/Email.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/Martins.Web.Services.CorreioEletronico/Email" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/Martins.Web.Services.CorreioEletronico/Email" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Martins.Web.Services.CorreioEletronico/Email">
      <s:element name="EmailEnviar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TipoMensagem" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Cabecalho" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="tns:ArrayOfEnderecoEmail" />
            <s:element minOccurs="0" maxOccurs="1" name="Corpo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="SistemaParaTratarDelegacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEnderecoEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EnderecoEmail" type="tns:EnderecoEmail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EnderecoEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoEndereco" type="tns:enmTipoEndereco" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoEntidade" type="tns:enmTipoEntidade" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enmTipoEndereco">
        <s:restriction base="s:string">
          <s:enumeration value="Remetente" />
          <s:enumeration value="Destinatario" />
          <s:enumeration value="ComCopia" />
          <s:enumeration value="ComCopiaOculta" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="enmTipoEntidade">
        <s:restriction base="s:string">
          <s:enumeration value="Funcionario" />
          <s:enumeration value="Representante" />
          <s:enumeration value="GerenteMercado" />
          <s:enumeration value="Externo" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EmailEnviarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmailEnviarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailEnviarAnexos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TipoMensagem" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Cabecalho" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="tns:ArrayOfEnderecoEmail" />
            <s:element minOccurs="0" maxOccurs="1" name="Corpo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="SistemaParaTratarDelegacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Anexos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailEnviarAnexosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmailEnviarAnexosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmailEnviarSoapIn">
    <wsdl:part name="parameters" element="tns:EmailEnviar" />
  </wsdl:message>
  <wsdl:message name="EmailEnviarSoapOut">
    <wsdl:part name="parameters" element="tns:EmailEnviarResponse" />
  </wsdl:message>
  <wsdl:message name="EmailEnviarAnexosSoapIn">
    <wsdl:part name="parameters" element="tns:EmailEnviarAnexos" />
  </wsdl:message>
  <wsdl:message name="EmailEnviarAnexosSoapOut">
    <wsdl:part name="parameters" element="tns:EmailEnviarAnexosResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailSoap">
    <wsdl:operation name="EmailEnviar">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Enviar email</documentation>
      <wsdl:input message="tns:EmailEnviarSoapIn" />
      <wsdl:output message="tns:EmailEnviarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailEnviarAnexos">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Enviar email com anexos</documentation>
      <wsdl:input message="tns:EmailEnviarAnexosSoapIn" />
      <wsdl:output message="tns:EmailEnviarAnexosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailSoap" type="tns:EmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="EmailEnviar">
      <soap:operation soapAction="http://tempuri.org/Martins.Web.Services.CorreioEletronico/Email/EmailEnviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailEnviarAnexos">
      <soap:operation soapAction="http://tempuri.org/Martins.Web.Services.CorreioEletronico/Email/EmailEnviarAnexos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Email">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="EmailSoap" binding="tns:EmailSoap">
      <soap:address location="http://localhost/Martins.Web.Services.CorreioEletronico/Email.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>